<div class="col-12 d-flex justify-content-center pt-5 ">
    <div class="row" *ngIf="units === -1">
        <div class="col-12 text d-flex justify-content-center my-3">Eat glucose gummies</div>
        <div class="col-12 text d-flex justify-content-center my-3 alert alert-danger">Call doctor!!</div>
    </div>
    <div *ngIf="units === 0">
        <div class="text">Do nothing.</div>
    </div>
    <div class="row" *ngIf="units > 0 && units < 400">
        <div class="col-12 text d-flex justify-content-center my-3">Inject</div>
        <div class="col-12 unit-number d-flex justify-content-center my-3">{{units}} units</div>
        <div class="col-12 text d-flex justify-content-center my-3">from the BLUE pen!!</div>
        <div class="col-12 text d-flex justify-content-center my-3 alert alert-danger" *ngIf="bloodSugar >= 400">
            Call doctor!!
        </div>
    </div>
    <div class="row" *ngIf="units >= 400">

    </div>
</div>