<form [formGroup]="bloodSugarForm">
    <div class="row">
        <div class="col-12 d-flex justify-content-center"> 
            <mat-form-field class="large-field w-100">
                <mat-label>Blood Sugar Number:</mat-label>
                <input matInput formControlName="bloodSugar">
              </mat-form-field>
        </div>
        <div class="col-12 d-flex justify-content-center"> 
            <button mat-flat-button class="w-100 button" color="primary" (click)="submit()">Calculate Units</button>    
        </div>
    </div>
   
   
      
</form>

<app-units [bloodSugar]="bloodSugar"></app-units>
